<div class="container justify-content-center d-flex mt-2">
  <h2 class="m-2">Add New Topic</h2><button mat-fab (click)=addNewTopic()>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="container text-center mt-4 p-2 showProgress" *ngIf="visibleContent?.length"><h2>Your Progress</h2>
  <div *ngFor="let a of visibleContent" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center mr-3">
      {{a.topicTitle}}
    </div>
    {{a.progress}}%
  </div>
</div>
<div class="container text-center">
<button mat-stroked-button color="accent" class="mt-5"(click)=logOut()>Logout</button>
</div>

