<div class="container text-center mt-5">
  <div [formGroup]=topicDetails class="details">
    <mat-form-field appearance="fill" class="mr-3">
      <mat-label>Title</mat-label>
      <input matInput formControlName="topicTitle">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="topic"></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" class="mr-2" (click)=goBack()>Go Back</button>
    <button mat-raised-button color="accent" (click)=add(topicDetails) [disabled]="topicDetails.invalid">Add</button>
  </div>
</div>
<div class="container text-center mt-5 p-2" *ngIf="visibleContent?.length">
  <h2>Topic List</h2>
  <div *ngFor="let a of visibleContent" class="mb-5 border p-3">
    <span  class="highlightText" *ngFor="let t of a.content; let i = index" (click)=onClick(t,i,newUserTemplate)>
      <span ngClass="{{t.class}}" matTooltip="click to score">{{t.text}}</span>
      <span>{{t.delimeter}}</span>
    </span>
  </div>
</div>

<ng-template #newUserTemplate let-data>
  <div>
    <h2>Change your score for '{{data.text.text}}'</h2>
    <mat-form-field appearance="fill">
      <mat-label>Enter the score</mat-label>
      <mat-select [formControl]="scoreValue">
        <mat-option *ngFor="let score of scores" [value]="score.value" ngClass="{{score.class}}">
          {{score.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mt-5 justify-content-between d-flex">
      <button mat-stroked-button (click)=cancel()>Cancel</button>
      <button mat-stroked-button (click)="save(data.text.text,data.text.delimeter)">Save</button>
    </div>
  </div>
</ng-template>
<div class="container text-center mt-2">
  <button mat-stroked-button color="accent" (click)=logOut()>Logout</button>
  </div>